<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saniya Portfolio</title>
</head>
<style>
    table,th,td{
        border:1px solid black;
    }
</style>

<body>
    <header>
        <h1>Shaik Saniya Anjum</h1>
        <p><b>Python full stack developer</b></p>
    </header>
    <hr>
    <nav>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#education">Education</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
    <hr>
    <!--About Section-->
    <section id="about">
        <h2>About Me</h2>
        <p>Hello I am<strong>Shaik Saniya Anjum</strong>I am <mark>Python Full Stcak developer</mark> </p>
        <p>I love<i>Python</i>and I am very enthustisatic in learning <u>backend development</u></p>
    </section>
    <hr>
    <section id="skills">
        <ul>
            <li>Python</li>
            <li>full satck</li>
            <li>html/css/js</li>
            <li>SQL</li>
        </ul>
    </section>
    <section id="education">
        <h2>Education</h2>
        <table style ="width:100%">
            <th>Degree</th>
            <th>Intitution</th>
            <th>Year</th>
            <tr>
                <td>B-tech</td>
                <td>NRI Institution of technology</td>
                <td>2027</t>
            </tr>
            <tr>
                <td>Intermediate</td>
                <td>Sarada jr College</td>
                <td>2023</td>
            </tr>
        </table>
    </section>
    <hr>
    <section id="projects">
        <h2>Projects</h2>
        <p>Working on <mark>AI-based Cyberthreat detection</mark> using Hybrid CNN-LSTM and Explainable AI(SHAP & LIME)
        </p>
    </section>
    <hr>
    <section>
        <h2>Favourite youtube videos</h2>
        <ul>
            <iframe src="https://www.youtube.com/watch?v=7wnove7K-ZQ&list=PLu0W_9lII9agwh1XjRt242xIpHhPT2llg"
                framebordder="0" tittle="fastapi backend"></iframe>
        </ul>
    </section>
    <section id="contact">
        <h2>Contact</h2>
        <p>Email:<ahref="mailto:shaiksaniya2305@gmail.com">shaiksaniya2305@gmail.com</a></p>
        <p>Phone:+91 1234567890</p>
    </section>
    <footer>
        <p>&copy;Shaik Saniya Anjum. All rights reaserved. </p>
    </footer>
</body>

</html>